.data-list{
    display: grid;
    gap: 1rem;
   > div{
    display: flex;
    gap: 1rem;
    background-color: #fff;
    /* border: 2px solid; */
    padding: 1rem 1.5rem;
    border-radius: 10px;
    }
}
.pagination-controls{
    display: flex;
    gap: 1rem;
    align-items: center;
}