:host {
  color: blueviolet;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  gap: 1rem;
}
.image-container {
  position: relative;
}
section{
  display: flex;
  flex-direction: column;
  border: 1px solid tomato;
}