.category {
    background-color: cadetblue;
    padding: 1rem;
    border-radius: 5px;
  }
  .product {
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid black;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
  }