<header>
    <nav>
  <div class="container">
      <h2>Angular Start</h2>
      </div>
    </nav>
    <div class="header-box container">
      <div class="header-box-item">
        <p>Log in</p>
      </div>
      <div class="header-box-item">
        <p>Sign up</p>
      </div>
      <div class="header-box-item">
        <p>Buy Now</p>
      </div>
    </div>
</header>
<main class="container">
  <h1>Hello</h1>
  <div class="card">Card</div>
  <div class="card card-dark">
    Card Dark
  </div>
  <div class="card card-dark card-shadow-2">
     <div class="card card-light">
      Card Light
     </div>
  </div>
  <div class="card card-shadow-2">
    <div class="card card-light">
      Card
    </div>
  </div>
  <div class="card card-shadow-2">
    <div class="card">
      Card
    </div>
  </div>
  <div class="title-bar secondary-background">
   <h1>Modules</h1>
  </div>
  <div class="grid">
   <div class="grid-item">Item 1</div>
   <div class="grid-item">Item 1</div>
   <div class="grid-item">Item 1</div>
   <div class="grid-item">Item 1</div>
   <div class="grid-item">Item 1</div>
   <div class="grid-item">Item 1</div>
   <div class="grid-item">Item 1</div>
   <div class="grid-item">Item 1</div>
   <div class="grid-item">Item 1</div>
   <div class="grid-item">Item 1</div>
  </div>
</main>
<footer><h1>
  footer
</h1></footer>